.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.doorsBlock {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
}

.doors {
    height: 520px;
    width: 300px;
    margin: 25px 50px;
    /* padding: 40px 45px 10px 45px; */
    cursor: pointer;
}

#title {
    width: 100%;
    height: 150px;
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
    padding: 35px 0 20px 0;
    color: red;
}

body {
    background-color: #252526;
}



#message {
    text-align: center;
    color: white;
    font-family: 'Permanent Marker', cursive;
    color: red;
}

button {
    margin: 0 auto;
    height: 60px;
    width: 130px;
    color: white;
    font-size: 25px;
    background-color: black;
    align-content: center;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    cursor: pointer;
}

button:hover {
    background-color: tomato;
    transform: scale(1.25);
    transition: .2s;
}

button:active {
    outline: none;
    border: none;
}

#bottomBtn {
    margin: 0 0 45px 0;
}

